<div style="display: flex; width: 100%; margin-top: 1%; justify-content: space-evenly;">
    <div class="reg1">
        <div style="display: flex; ">
            <div style="width: 10vh; margin-top: 3vh; margin-left: 3vh; ">
                <mat-icon>person</mat-icon>
            </div>
            <div style="display: ruby;">
                <div style="    height: 1vh; margin-top: 3vh;">
                    <span style="font-family: cursive; font-weight: bolder; color: blue;">{{companyName}}</span>
                </div>
                <div style="display: flex; gap: 2vh;">
                    <div style="width: 23vh; height: 24px;background-color: #BBE9FF;">
                        <span style="font-family: cursive; color: blue;">{{city}}</span>
                    </div>
                    <div style="width: 23vh; height: 24px;">
                        <span style="font-family: cursive;color: red;">{{currency | currency}} <br>
                            <p style="color: gray;">Current Balance</p>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="reg2">
        <div style="display: inline-block;">
            <div style="display: flex;">
                <div>
                    <img src="/assets/location.svg" style="margin-top: 5vh;margin-left: 1vh;">
                    <!-- <mat-icon style="margin-top: 5vh;margin-left: 1vh;"> location_on</mat-icon> -->
                </div>
                <div style="margin-top: 2vh; margin-left: 2vh;">
                    <span style="font-family: cursive;">{{location}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="reg3">
        <div style="display: inline-block;">
            <div style="display: flex;">
                <div>
                    <img src="/assets/mail.svg" style="margin-top: 5vh; margin-left: 1vh;">
                    <!-- <mat-icon style="margin-top: 5vh; margin-left: 1vh;"> mail_outline</mat-icon> -->
                </div>
                <div style="margin-top: 2vh; margin-left: 2vh;">
                    <span style="font-family: cursive;">Mobile : {{number}} <br>
                        Email: {{gmail}} <br> GSTN: {{GSTNO}}</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div style="display: flex;">
    <mat-tab-group>
        <mat-tab label="Overview"></mat-tab>
        <mat-tab label="Transactions" disabled></mat-tab>
        <mat-tab label="Statement" disabled></mat-tab>
        <mat-tab label="Mail" disabled></mat-tab>
        <mat-tab label="Activities" disabled></mat-tab>
    </mat-tab-group>
    <div style="flex: 1 1 auto;"></div>

    <button mat-button style="margin-top: 1vh;"><mat-icon>keyboard_backspace</mat-icon><b
            style="color: red;">Back</b></button>
</div>
<br/>
<div style="display: flex; width: 100%;">
    <div class="invoiceno">
        <div style="
            margin-left: 3vh;
            margin-top: 3vh;
            font-family: cursive;
            ">
            <span style="display: ruby;">
                <p style="color: blue;">InvoiceNo</p> <br>
                123456778
            </span>
        </div>
    </div>
    <span style="font-size: 10vh;margin-top: 5vh;"><img src="assets/arrow.svg"></span>
    <div class="invoiceno">
        <div style="
            margin-left: 3vh;
            margin-top: 2vh;
            font-family: cursive;
            ">
            <span style="display: ruby;">
                <p style="color: blue;">Invoice Date</p> <br>
                {{date |date}}
            </span>
        </div>
    </div>
    <span style="font-size: 10vh;margin-top: 5vh;"><img src="assets/arrow.svg"></span>
    <div class="invoiceno">
        <div style="
            margin-left: 2vh;
            margin-top: 2vh;
            font-family: cursive;
            ">
            <span style="display: ruby;">
                <p style="color: blue;">Invoice Value</p> <br>
                399999999
            </span>
        </div>
    </div>
    <span style="font-size: 10vh;margin-top: 5vh;"><img src="assets/arrow.svg"></span>
    <div class="invoiceno2">
        <div style="
            margin-left: 2vh;
            margin-top: 2vh;
            font-family: cursive;
            ">
            <span style="display: ruby;">
                <p style="color: blue;">Invoice Status</p> <br>
                <p style="color: forestgreen;">Accecpted</p>
            </span>
        </div>
    </div>
    <span style="font-size: 10vh;margin-top: 5vh;"><img src="assets/arrow.svg"></span>
    <div class="invoiceno">
        <div style="
            margin-left: 2vh;
            margin-top: 2vh;
            font-family: cursive;
            ">
            <span style="display: ruby;">
                <p style="color: blue;">Due Status</p> <br>
                <p style="    color: forestgreen;
                margin-left: 15px;
                background-color: deepskyblue;">Partially</p>
            </span>
        </div>
    </div>
    <span style="font-size: 10vh;margin-top: 5vh;"><img src="assets/arrow.svg"></span>
    <div class="invoiceno2">
        <div style="
            margin-left: 2vh;
            margin-top: 2vh;
            font-family: cursive;
            ">
            <span style="display: ruby;">
                <p style="color: blue;">Receipt Mode</p> <br>
                <p style="color: forestgreen;"><img src="/assets/bankdetails.svg"></p>
            </span>
        </div>
    </div>

</div>
<br />
<div style="display: flex; margin-top: 2vh; gap: 10px;">
    <div>
        <button mat-stroked-button color="primary"><mat-icon>edit</mat-icon>Edit</button>
    </div>
    <div>
        <button mat-stroked-button color="primary"> <mat-icon>share</mat-icon>Share</button>
    </div>
    <div>
        <button mat-stroked-button color="primary"> <mat-icon> local_printshop</mat-icon>Print</button>
    </div>
    <div>
        <button mat-stroked-button color="primary" > <mat-icon>cloud_download</mat-icon>Download</button>
    </div>
    <div>
        <button mat-stroked-button color="primary"> <mat-icon>delete</mat-icon>Delete</button>
    </div>
    <div>
        <button mat-stroked-button color="primary">More<mat-icon>more_vert</mat-icon></button>
    </div>
</div>
<br />
<div style="display: flex; gap: 50px;">

    <div class="waybill">
        <div style="display: flex;">
            <div style="margin-left: 2vh; margin-top: 6vh;">
                <img src="assets/Group.svg">
            </div>
            <div style="    margin-top: 2vh;
            margin-left: 6vh;
            font-family: cursive;
            color: blue;">
                <span>e-Invoice No: 123456789012345 <br />
                    Date : 24 Mar 2024 10:34 PM</span>
                <br />
                <div style="display: flex;">
                    <div style="margin-top: 1vh; display: flex; gap: 2px;">
                        <div><a href="../assets/Book.pdf" class="btn btn-button" ><mat-icon>cloud_download</mat-icon></a>
                            </div>
                            <div><a href="../assets/Book.pdf" class="btn btn-button" ><mat-icon>local_printshop</mat-icon></a>
                            </div>
                            <div><a  class="btn btn-button" ><mat-icon>share</mat-icon></a>
                            </div>
                            <div><a  class="btn btn-button" ><mat-icon>visibility</mat-icon></a>
                            </div>
                            <div><a  class="btn btn-button"  style="color: red;"><mat-icon>cancel</mat-icon></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="waybill">
        <div style="display: flex;">
            <div style="margin-left: 2vh; margin-top: 6vh;">
                <img src="assets/2.svg">
            </div>
            <div style="    margin-top: 2vh;
            margin-left: 6vh;
            font-family: cursive;
            color: blue;">
                <span>e-Waybill No: 52356689656 <br />
                    Date : 24 Mar 2024 10:34 PM</span>
                <br />
                <div style="display: flex;">
                    <div style="margin-top: 1vh; display: flex; gap: 2px;">
                        <div><a href="../assets/Book.pdf" class="btn btn-button" ><mat-icon>cloud_download</mat-icon></a>
                            </div>
                            <div><a href="" class="btn btn-button" ><mat-icon>local_printshop</mat-icon></a>
                            </div>
                            <div><a href="" class="btn btn-button" ><mat-icon>share</mat-icon></a>
                            </div>
                            <div><a href="" class="btn btn-button" ><mat-icon>visibility</mat-icon></a>
                            </div>
                            <div><a href="" class="btn btn-button"  style="color: red;"><mat-icon>cancel</mat-icon></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="display: flex; flex-direction: column;">
        <!-- <button class="btn btn-primary"><img src="/assets/1.svg" style="color: white;">Receipt</button> -->
        <a href="../assets/Book.pdf" class="btn btn-primary" >Receipt</a>
        <br />
        <!-- <button class="btn btn-primary"> <img src="/assets/22.svg" style="color: white;"> Reminder</button> -->
        <a href="../assets/Book.pdf" class="btn btn-primary" >Reminder</a>
    </div>


</div>

<br />
<div style="display: flex; gap: 50px;">

    <div class="waybill2">
        <div style="display: flex;">
            <div style="    width: 39vh;
            margin-top: 2vh;
            margin-left: 3vh;
            font-family: cursive;
            color: blue;">
                <span>
                    {{RR}}
                </span>
            </div>

            <div style="    margin-top: 6vh; margin-left: 2vh;">
                <button class="btn btn-primary">Record Receipt</button>
            </div>

        </div>
    </div>

    <div class="waybill2">

        <div class="waybill2">
            <div style="display: flex;">
                <div style="width: 38vh;
            margin-top: 2vh;
            margin-left: 3vh;
            font-family: cursive;
            color: blue;">
                    <span>
                        {{R}}
                    </span>
                </div>

                <div style=" margin-top: 6vh; margin-left: 8vh;">
                    <button class="btn btn-primary" color="primary">Reminder</button>
                </div>

            </div>

        </div>
    </div>
</div>
<br/>
<ngx-doc-viewer
  [url]="file"
  viewer="google"
  style="width:100%;height:50vh;"
></ngx-doc-viewer>