.reg1{
    width: 60vh;
    height: 15vh;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 15px 0px -202px rgba(35,121,221,1),
0px 15px 0px -9px rgba(74,144,226,1) inset;
    border: 1px solid blue ;
}

.reg2{
    width: 45vh;
    height: 15vh;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 15px 0px -202px rgb(202, 209, 216),
0px 15px 0px -9px rgb(219, 133, 20) inset;
    border: 1px solid rgb(233, 184, 143) ;
}

.reg3{
    width: 45vh;
    height: 15vh;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 15px 0px -202px rgb(202, 209, 216),
0px 15px 0px -9px rgb(236, 65, 13) inset;
    border: 1px solid rgb(233, 184, 143) ;
}
.invoiceno{
        width: 20vh;
        height: 15vh;
        background-color: rgba(255, 255, 255, 1);
        color: #000;

        border-radius: 15px;
        border: 1px solid blue;
        box-shadow: 0px 15px 0px -202px rgba(35,121,221,1),
        0px 15px 0px -11px rgba(74,144,226,1);
}
.waybill{
    background-color: #DBF4FF;
    box-shadow: 3px 3px 3px #00000029;
border-radius: 4px;
opacity: 1;
top: 382px;
left: 850px;
width: 342px;
height: 104px;
}
.waybill2{
    background-color: #DBF4FF;
    box-shadow: 3px 3px 3px #00000029;
border-radius: 4px;
opacity: 1;
top: 382px;
left: 850px;
width: 70vh;
height: 104px;
}
.invoiceno2{
    width: 20vh;
    height: 15vh;
    background-color: rgba(255, 255, 255, 1);
    color: #000;

    border-radius: 15px;
    border: 1px solid blue;
    box-shadow: 0px 15px 0px -202px rgb(44, 248, 3),
    0px 15px 0px -11px rgb(44, 248, 3);
}